In [ ]:
5+3

In [ ]:
5-2

In [ ]:
5*3

In [ ]:
5/3

In [ ]:
#power of
5**3

In [ ]:
#this is comment - integer division
5//3

In [ ]:
'''
this
is
a
multi line comment
'''
type(3)
type(3.444)
type('abcdses')
type("pranav")

In [ ]:
print(type(3)) #int
print(type(3.44)) #float
print(type('abbbdbsdfsdf24334343@#@#$@#@#@#$@#$___---.....,,,,???')) #string

In [ ]:
print(type(-33333))

In [ ]:
print(type(sdfsdfsfsdf)) #error because written without single or double quotes

In [ ]:
print(type(True))
print(type(False))

In [ ]:
#variables

a = 3
print(a)

In [ ]:
a = 3.5 #overwritten the old value 3 by 3.5
print(a)

In [ ]:
a = 'praraajjajajjaa' #overwritten the old value 3.5 by 'praraajjajajjaa'
print(a)

In [ ]:
bbbbbb = 3
c4444 = 3
4ccc = 9 #variable name cannot start with numbers
#Spyder, Ananconda, Pycharm (paid), VS Code (in our class)

In [ ]:
_cccc = 9

In [ ]:
print(a)
print('a')

In [ ]:
xyz=9

In [ ]:
print(xyz)

In [ ]:
a = 3
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b) #remainder or mod

In [ ]:
#condition
a = 3
b = 4
print(a==b) #is a equal to b
print(a!=b) # is a not equal to b
print(a>b) # is a greater than b
print(a<b) #is a less than b
print(a>=b) #is a greater or equal to b
print(a<=b) #is a less or equal to b

In [ ]:
a = 3
b = 4

if a==b: #check if a is equal to b then
    print('a is equal to b')   #if condition is satisfied  then print
    print('inside if')
else: #if a is not equal to b then
    print('a is not equal to b') #else print this
    print('inside else')

print('Ã³utside the if else')

In [ ]:
a = 3
b = 4

#if - elif (else if) - else
if a>b:
    print('a is greater than b')
elif a==b:
    print('a is equal to b')
else:
    print('a is less than b')

In [ ]:
a = 3
b = 4
#if - elif (else if) - else (optional)
if a>b:
    print('a is greater than b')
elif a==b:
    print('a is equal to b')
elif a < b:
    print('a is less than b')

In [ ]:
#odd or even
print(25%2)
print(24%2)

In [ ]:
a = 45

if a % 2 == 0:
    print('a is even')
else:
    print('a is odd')

In [ ]:
range(10) #start at 0 and go up to last but not including last value

In [ ]:
#loops

for i in range(10): #execute the lines inside the for
 print(i)

In [ ]:
for i in range(5):
    print('hello')

In [ ]:
name = 'pranav nerurkar' #collection of alphabets

for i in name: #i is starting from first position till last position
    print(i) #execute this line

In [ ]:
name = 'pranav nerurkar' #collection of alphabets/elements

for i in enumerate(name): #travel/iterate and give index/position and element
    '''
    python has zero indexing means it starts from zero
    '''
    print(i)

In [ ]:
names = ['ravi', 'raju', 'shyam', 'ram'] # this is a list
'''
within square brackets and separated with comma
'''
print(names)
print(type(names))
for i in names:
    print(i)
for i in enumerate(names):
    print(i)

In [ ]:
rollnos = [1,2,3,3,4,4,4,'shyam','ram','#$#$#$',3232]

print(rollnos)
print(type(rollnos))
for i in rollnos:
    print(i)
for i in enumerate(rollnos):
    print(i)

In [ ]:
len(rollnos)

In [ ]:
len(name)

In [ ]:
name = 'ram'
lastname = 'kumar'

name + lastname
name + ' ' + lastname #join or concat the two or more strings

In [ ]:
a = 3
float(a)

In [ ]:
str(a)

In [ ]:
input('enter your name')

In [ ]:
num = input('enter a number')
int(num) #if you write pranav or 4.5 you will get error

In [ ]:
name = 'pranav'

print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
#

In [ ]:
names = ['ram', 'shyam', 'gopal']
print(names[0])
print(names[1])
print(names[2])
print(names[3]) #error as no data available this position

In [ ]:
print(names[-1])
print(names[-2])
print(names[-3])
print(names[-4]) #error as no data available

In [ ]:
name = 'pranav'

print(name[-1])
print(name[-2])
print(name[-3])

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
names = ['ram', 'shyam', 'gopal']

names[0:4] #slicing we start at position 0 and go up to position 4 (not included) 0,1,2,3

In [ ]:
names[0:2] #0,1

In [ ]:
names[0:1]

In [ ]:
names[0:3] #display position 0,1,2

In [ ]:
list_of_numbers = [1,4,9,16,25,36,49,64,81,100]
#display from 5-8 viz., 5,6,7,8
#[36,49,64,81] we want to display
print(list_of_numbers[5:9]) #5,6,7,8

In [ ]:
list_of_numbers[5] = 80 #replace 5th element with 80
print(list_of_numbers)

In [ ]:
list_of_numbers

In [ ]:
list_of_numbers * 2 #repeat the list twice

In [ ]:
'pranav' * 3

In [ ]:
#snake case naming convention
#new_number_list
#camelCase - nameList
new_list = [1, 4, 9, 16, 25, 80, 49, 64, 81, 100, 1, 4, 9, 16, 25, 80, 49, 64, 81, 100]
new_list[0:4] = 'pranav'
new_list[9:12] = [99,99,99] #replace position 9,10,11 in list new_list
print(new_list)

In [ ]:
new_list

In [ ]:
#save in variable and replace  first six elements with numbers
new_list = ['p', 'r', 'a', 'n', 'a', 'v', 25, 80, 49, 99, 99, 99, 1, 4, 9, 16, 25, 80, 49, 64, 81, 100]
#hint: new_list[9:12] = [99,99,99] #replace position 9,10,11 in list new_list
new_list[0:6] = [1,2,3,4,5,6]
print(new_list)

In [ ]:
a = 3
a * 3
a* 10 #last printed value

In [ ]:
_ + 3 #underscore stores last printed value so here _ is 30

In [ ]:
_ + 3 #underscore  _ is 33

In [ ]:
_ - 1000 #underscore  _ is 15

In [ ]:
_ * 3.4444

In [ ]:
round(_, 3)

In [ ]:
round(_, 1)

In [ ]:
list_exercise = [1, 2, 3, 4, 5, 6, 25, 80, 49, 99, 99, 99, 1, 4, 9, 16, 25, 80, 49, 64, 81, 100]

In [ ]:
list_exercise.append(10000) #add at the end
list_exercise.insert(0, 1000) #add at the beginning or at any position insert(position, value)
print(list_exercise[0:len(list_exercise)])
print(list_exercise[5:9])
print(list_exercise[0: 10: 2]) #start : stop: step (jump)
print(list_exercise[::2]) #start : stop: step (jump) - default values start - 0 , stop - last position, step - 1
print(list_exercise[0:len(list_exercise):2]) #same as above
print(list_exercise.sort()) # no return - # dot operator
print(list_exercise) #with sort the list is sorted

In [ ]:
class_students = ['aadit',
                  'anuja',
                  'indrapal',
                  'manish',
                  'sachin',
                  'hitesh',
                  'priyanka',
                  'nilima',
                  'kshitij']

print(class_students[0: 3]) #0,1,2
print(class_students[0: 10: 2]) #start : stop : jump (step)
print(class_students[0: 10: 3])
print(class_students[0: 10: 4])
print(class_students[0: 10: 1])

In [ ]:
for i in range(0, 10, 2):
    print(i)

for i in range(0, 10, 3):
    print(i)

for i in range(10, 27, 5):
    print(i)

In [ ]:
#homework

'''
taking input from user and finding odd or even (prime or composite) (greater than 50 , equal to 50, less than 50)

capitalize every second alphabet of string aaaaaaaaaaabbbbbbbbbbcccccccccc

convert to upper or lower

take a list of five numbers and calculate their square root and save in another list

take ten names in list and capitalize alternate names and lower case the others

take ten names in list and if first alphabet is 'a' then capitalize the entire name or else leave it as it is

'''