In [ ]:
2+3

In [ ]:
4-7

In [ ]:
#list of three names is stored in variable names
names = ['ram', 'shyam', 'raju']

In [ ]:
names

In [ ]:
fullnames = [['ram', 'shyam', 'raju'], ['shah', 'mehta', 'singh']]

In [ ]:
#two dimension lists - list of lists
fullnames

In [ ]:
fullnames[0]

In [ ]:
fullnames[1]

In [ ]:
fullnames[0][0]

In [ ]:
#tuple data structure allows data storage, manipulation (update/modify), retrieval
t = (1, 2, 3)
print(t)

In [ ]:
t[0]

In [ ]:
t[0:2] #tuple_variable_name[start : stop] display elements index 0 and index 1 but not index 2

In [ ]:
t = ('ram', 'shyam', 'raju')
first_name, second_name, third_name = t #tuple is having 'ram', 'shyam', 'raju' elements
'''
a = t[0]
b = t[1]
c = t[2]
'''
print(first_name, second_name, third_name)

In [ ]:
Names= ['Sriansh','Rahul']
print (Names)
Names[0][0] #Names is the list. In that list get the element index 0 and then get the element index 0 of the element index 0

In [ ]:
Names[0]

In [ ]:
Names[0][0]

In [ ]:
#while loop

i = 0 #initialization

while i < 10: #stopping condition
    print(i)  #execute action of displaying i using print() command  println(), cout
    i = i + 1 #increment

In [ ]:
#there is a list of names all students in our class . display the names one by one using while loop

student_class = ['aadit', 'anuja', 'dristi' ,'indrapal', 'kshitij', 'hitesh', 'sachin', 'manish', 'nilima', 'priyanka']

print('length of the list', len(student_class)) #10

i = 0

while i < len(student_class):
    print(student_class[i])
    i = i + 1 #i += 1 incrementing i one by one so i = 0,1,2,3 ... 9

In [ ]:
names=["priya","anuja","om","sandip","oorjeet","ram","ravi","shyam","riya","radha"]

for i in range(len(names)): #range(10) - 0 to 9
  print(names[i])

In [ ]:
#take from user some positive number (<0) and display in reverse order till 0
#user enters 3 then display 3,2,1,0
#use while loop and not for loop


number = input('Enter a positive number') #take input from user as string
number = int(number) #int() command in python to convert from string to int (integer)

while number >= 0: #stopping condition is number becomes less than 0 Ans number >= 0
   print(number) #display number
   number = number - 1 #decrement number by 1

In [ ]:
'anuja'

In [ ]:
"anuja"

In [ ]:
"333"

In [ ]:
number = input('Enter a positive number')

number = int(number)

while number >= 0:
    print(number)
    number= number - 1

In [ ]:
number = input('Enter a positive number')
number = int(number)

if number < 0:
   print("Enter a positive number")
else:
    while number >= 0:
        print(number)
        number = number - 1

In [ ]:
#dictionary
#data structure - storing, modifying, retrieving

# key : value

class_students_data = {
    'aadit': 'hire',
    'anuja': 'japtap',
     3: 'dristi',
    'indrapal': 33,
    '444': 'kshitij'
}

class_students_data

In [ ]:
class_students_data['aadit']

In [ ]:
class_students_data['anuja']

In [ ]:
class_students_data[3]

In [ ]:
class_students_data['444'] = 'hitesh'

In [ ]:
class_students_data

In [ ]:
list(class_students_data)

In [ ]:
del class_students_data[3]

In [ ]:
class_students_data

In [ ]:
sorted(class_students_data)

In [ ]:
'aadit' in class_students_data

In [ ]:
'rohan' in class_students_data

In [ ]:
print(class_students_data)

In [ ]:
class_students_data.items()

In [ ]:
for key, value in class_students_data.items():
    print(key, value)

In [ ]:
for key in class_students_data:
    print(key)

In [ ]:
len(class_students_data)

In [ ]:
list_keys = list(class_students_data.keys()) #keys() gives dict_keys() which are all keys in the dictionary
#list() we convert into list
list_keys

In [ ]:
list_values = list(class_students_data.values()) #values() gives dict_values()

#list() we convert into list
list_values

In [ ]:
print('print length', len(class_students_data))
print(class_students_data)
sorted(class_students_data)
reversed(class_students_data)

In [ ]:
for i in range(len(class_students_data)): #len(class_students_data) = 4 so range(4) is 0,1,2,3

    print(list_keys[i], list_values[i])

In [ ]:
#definition , function, commands

#inbuilt
#print()
#input()
#type()
#len()
#sort()

#creation of function
def print_hello():
    print('hello') #display hello on the computer

In [ ]:
#execute the function
print_hello()

In [ ]:
print_hello()

In [ ]:
print_hello()

In [ ]:
#write a function and display your name
#any name give to the function
#call/execute the function

In [ ]:
def print_pranav():
    print('pranav')

In [ ]:
print_pranav()

In [ ]:
def sum_numbers():
    first_num = input('Enter first number') #input() data is stored in string format
    second_num = input('Enter second number') #input() data is stored in string format

    #Remember: string + string = concat . Example: "abc" + "def" = "abcdef". 1+2 =3
    total = int(first_num) + int(second_num) #int() converts from string to int
    print(total)

In [ ]:
sum_numbers()

In [ ]:
#multiply, divide, subtraction

def subtraction():
  first_number=input("enter first number")
  second_number=input("enter second number")
  total=int(first_number)-int(second_number)
  print(total)

def multiply():
  first_number=input("enter first number")
  second_number=input("enter second number")
  total=int(first_number)*int(second_number)
  print(total)

def division():
  first_number=input("enter first number")
  second_number=input("enter second number")
  total=int(first_number)//int(second_number)
  print(total)

In [ ]:
division()
subtraction()
multiply()

In [ ]:
def print_name(a):
    print(a)

print_name() #error

In [ ]:
print_name(2) #passing argument/input to the function call/execution

In [ ]:
print_name('ram')

In [ ]:
name = 'sachin'
print_name(name)

In [ ]:
def print_name(a, b):
    print(a, b)

print('ram', 'shyam')
print(1,2)

In [ ]:
print_name(1,2,3) #error mismatch in arguments or inputs passed to the function