In [ ]:
#len() - length of list/tuple/dict
#print() - display
#input() - collect data from user keyboard

In [ ]:
def print_capital():
    data = input('enter a sentence')
    print(data.upper())


print_capital() #calling/executing the function

In [ ]:
?print_capital

In [ ]:
?print

In [ ]:
?len

In [ ]:
?type

In [ ]:
#average

def average_two_numbers(a, b = 30):
    avg = (a + b) / 2
    print(avg)

average_two_numbers(10, 20)
average_two_numbers(10) #second param/input is by default 30

In [ ]:
'''
  File "<ipython-input-14-9d6924649d02>", line 1
    def average_three_numbers(a, b=10, c):
                                  ^
SyntaxError: non-default argument follows default argument
'''
def average_three_numbers(a, b=10, c):
    avg = (a + b + c) / 3
    print(avg)

average_three_numbers(10, 20, 30)

In [ ]:
#definition of function or defining
#Note: indentation should be same/uniform for all lines
def average_three_numbers(a, b=10, c=5):
    avg = (a + b + c) / 3
    print(avg)

#execute or call a function
average_three_numbers(10, 20, 30)
average_three_numbers(10)
average_three_numbers(10, 20)

In [ ]:
a = 'hello'
type(a)

In [ ]:
a = 'hello',
type(a)

In [ ]:
a = 'hello', 'hi'
type(a)

In [ ]:
#variable arguments / inputs / parameters as tuples

def print_names(*names):
    print(names)

In [ ]:
print_names('aadit')
print_names('aadit', 'anuja')
print_names()
print_names('aadit', 'anuja', 'indrapal')

In [ ]:
#variable arguments but inputs is stored as a dictionary
#definition
def print_capital(**data):
    for key, value in data.items():
        print(key, value.upper())

In [ ]:
print_capital(first_number = 'raju')
print_capital(first_number = 'raju', second_number='ravi')

In [ ]:
#SET - duplicates are not allowed
names = set('aaabbbccc')
names #no duplicates

In [ ]:
print(names)

In [ ]:
fruits = {'apple', 'apple', 'mango', 'mango'}
fruits #set does not allow duplicates

In [ ]:
fruits = ['apple', 'apple', 'mango', 'mango']
fruits #list allows duplicates

In [ ]:
set1 = set('aaabbbcccc')
set2 = set('aaabbbcccdddeee')

In [ ]:
set1 - set2 #difference between set1 and set2 means all elements present in set1 that are not present in set2

In [ ]:
set1 | set2 #OR symbol | - meaning collection of all unique elements in set1 and set2 (UNION)

In [ ]:
set1 & set2 #AND symbol & - meaning common elements in set1 and set2 (INTERSECTION)

In [ ]:
set2 - set1 #difference between set2 and set1 means all elements present in set2 that are not present in set1

In [ ]:
#dictionary constructor
dict(name = 'raju')

In [ ]:
dict(age = 25)

#List comprehensions

In [ ]:
list(range(10))

In [ ]:
#remainder
0 % 5

In [ ]:
i = 1
if i == 0:
    print('i is zero')

In [ ]:
for i in range(10): #condition so i is going from 0 to 9 -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    if i % 5 == 0: #is i divided by 5 giving remainder as 0
        continue     #skip execution and go back to the loop condition for the next iteration
    print(i)  #did not print 0 and 5

In [ ]:
for i in range(10): #loop condition
    if i % 5 != 0:
        break     #breaking the loop
    print(i)  #did not print 0 and 5

In [ ]:
#take input from user and if user enter 0 then stop or else keep taking input from user
#hint: use break

In [ ]:
import random

In [ ]:
random.choice(['rock', 'paper', 'scissors'])

In [ ]:
#take from user an input either rock, paper, scissor or 0
#if user enters any other input then tell to try again
#if user enters 0 then exit
#if user enters any one of rock, paper, scissor then take random input from computer
#and play rock-paper-scissor game (rock - paper : paper wins) (rock and scissor - rock wins) (paper and scissor - scissor wins)
#hint: for infinite loop use while True
#hint: if user enters 0 then break
#hint: if elif else (to create the game)

In [ ]:
#infinite loop
while True:
    data = input('enter a number or enter 0 to exit')
    if data == '0':
        break

In [ ]:
'''
Quiz

take five questions each has two options
user will answer correctly then give +1 display a message you are right
user will answer incoorectly then give 0 display a message you chose this option but correct was this option
after five questions are over ask user try again or exit (display the total marks obtained in quiz),
invalid input ask (the try again or exit) once more

hint: if-else-if , break, while loop, operators (==, !=), string formatting
'''

In [ ]:
#string formatting

price = 59
print(f"The cost is {price} rupees") #Note the use of f and {}

In [ ]:
option = 'kangaroo'

print(f"The right answer is lion but you chose answer as {option}")

In [ ]:
price = 59.8888888

print(f"The rounded answer up to two decimal places {price:.2f}") #note use of :.2f

In [ ]:
username = 'raju'
print(f"The username entered was {username} but it should be {username.upper()}")

In [ ]:
'''
Currency conversion

You ask the user to choose from one option for source and destination 'euro', 'dollar', 'rupee'
then ask user to enter quantity in numbers

ex- dollar to rupee and 10
so 10dollars is 830 rupees
find from internet the conversion formula

prevent invalid inputs, allow user to continue till exit
'''

#Scope

In [ ]:
name = 'ravi' #accessible even inside the function and outside

def print_name():
    print('inside function', name)

print_name()
print('outside function', name)

In [ ]:
name = 'ravi' #accessible even inside the function and outside

def print_name(name): #name is inside the function only
    #local variable has higher priority than global variable
    print('first print function', name)

print_name('raju')
print_name('shyam')
print_name('gopal')

print('second print function', name)

In [ ]:
def print_name():

    newname = 'ravi' #not available outside function

    print('first print inside function', newname)

print_name()

print('second print outside print function', newname) #ERROR NameError: name 'newname' is not defined

In [ ]:
def print_name():

    global name1 #keyword global means variable name1 is available everywhere (inside and outside)
    name1 = 'ravi' #not available outside function

    print('first print inside function', name1)

print_name()

print('second print outside print function', name1)

#class and objects

In [ ]:
a = 3
b = 3.5
c = 'abc'

In [ ]:
#custom datatypes, user defined data types

# class

#class Name_of_class:
    #variables
    #functions

class Student:
    name = 'raju'
    age = 25
    marks = 90

In [ ]:
#objects

#object_name = class_name()

raju = Student()

In [ ]:
print(raju.name) #Note use of dot operator . -> object_name.variable_name OR object_name.fuction_name()
print(raju.age)
print(raju.marks)

In [ ]:
class Institute:
    name = 'Utkarshminds'
    teacher = 'Pranav Nerurkar'
    establishment_year = 2012
    location = 'Borivali east'

In [ ]:
obj = Institute()

print(obj.name)
print(obj.teacher)
print(obj.establishment_year)
print(obj.location)

In [ ]:
type(obj)

In [ ]:
class Student:
    #def __init__(self): meaning that we are creating a constructor that will execute automatically
    #whenever object is created
    def __init__(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

    def print_details(self):
        print(self.name, self.age, self.marks)

In [ ]:
age #variables in the class are not available outside the class so ERROR

In [ ]:
obj1 = Student('raju', 25, 90) #object name is obj1 is of the class Student
obj2 = Student('ravi', 26, 95)

In [ ]:
obj1.print_details()
obj2.print_details()

In [ ]:
obj2.name = 'Rohan'

In [ ]:
print(obj2.name)

In [ ]:
obj3 = Student() #ERROR TypeError: __init__() missing 3 required positional arguments: 'name', 'age', 'marks'

In [ ]:
obj3 = Student('anuja', 10, 99)

In [ ]:
print(obj1.name)
print(obj1.age)
print(obj1.marks)
print(obj2.name)
print(obj2.age)
print(obj2.marks)

In [ ]:
obj1.name = 'Gopal'

In [ ]:
print(obj1.name)
print(obj1.age)
print(obj1.marks)

In [ ]:
'''
Create on class Student with name, age, marks
for four students give data
compare and find highest marks, lowest marks
what is the average marks
what is average age of students


class Xyz:
    def __init__(self):
        pass

obj = Xyz()
'''

In [ ]:
while True:
    pass

In [ ]:
if True:
    pass

In [ ]:
def print_name():
    pass

#Except handling

In [ ]:
#Case 1
try:
    print(y) #check for errors
except:
    print('error') #if error occurs execute this except
else:
    print('no error') #if no error occurs then do this
finally:
    print('finally this is over')

In [ ]:
#Case 2
y = 1
try:
    print(y) #check for errors
except:
    print('error') #if error occurs execute this except
else:
    print('no error') #if no error occurs then do this
finally:
    print('finally this is over')

In [ ]:
#take input from user a positive number and divide by 5
# full list https://docs.python.org/3/library/exceptions.html

try:
    number = input('enter positive number')
    print(5 / int(number))
except ValueError:
    print('invalid input')
except ZeroDivisionError:
    print('cannot divide by zero')