In [ ]:
#take from user an input either rock, paper, scissor or 0
#if user enters any other input then tell to try again
#if user enters 0 then exit
#if user enters any one of rock, paper, scissor then take random input from computer
#and play rock-paper-scissor game (rock - paper : paper wins) (rock and scissor - rock wins) (paper and scissor - scissor wins)
#hint: for infinite loop use while True
#hint: if user enters 0 then break
#hint: if elif else (to create the game)

In [ ]:

user_choice=input("enter rock, paper or scissor or 0: ")
import random
computer_choice=random.choice(["rock","paper","scissor"])
print(computer_choice)
if computer_choice==user_choice:
  print("game tie")
elif computer_choice=="rock" and user_choice=="paper":
  print("paper wins")
elif computer_choice=="rock" and user_choice=="scissor":
  print("rock wins")
elif computer_choice=="paper" and user_choice=="scissor":
  print("scissor wins")

enter rock, paper or scissor or 0: scissor
paper
scissor wins

In [ ]:
#take five questions each has two options
#user will answer correctly then give +1 display a message you are right
#user will answer incorrectly then give 0 display a message you chose this option but correct was this option
#after five questions are over ask user try again or exit (display the total marks obtained in quiz)

In [32]:
marks=0
def quiz():
 question1=input('what is the capital of india?')
 question2=input('who is prime minister of India')
 question3=input('which is largest planet in solar system')
 question4=input('which is blue planet in solar system')
 question5=input('which is smallest planet in solar system')
 if question1=='delhi':
  global marks
  marks+=1
  print(f"marks:{marks}")
  print('you are right')
 else:
  print(f"u choose {question1} but correct was Delhi")

quiz()

what is the capital of india?delhi
who is prime minister of Indiamodiji
which is largest planet in solar systemjupitor
which is blue planet in solar systemearth
which is smallest planet in solar systemsaturn
marks:1
you are right

In [33]:
#Find out the common players in Team india cricket team in 2023 and 2019 world cup
#find out which players were in 2019 but not in 2024
#find out players were in 2024 but not in 2019
#find out all players who played the two previous world cups
#Hint: Use sets
team_india_2024=set(['Rohit Sharma','Virat Kohli','Bumrah','SuryaKumar Yadav','Rishabh Pant'])
team_india_2019=set(['M.S.Dhoni','Dinesh Kartik','KL Rahul','Rohit Sharma','Virat Kohli'])
team_india_2019 | team_india_2024

{'Bumrah',
 'Dinesh Kartik',
 'KL Rahul',
 'M.S.Dhoni',
 'Rishabh Pant',
 'Rohit Sharma',
 'SuryaKumar Yadav',
 'Virat Kohli'}

In [34]:
 team_india_2019-team_india_2024

{'Dinesh Kartik', 'KL Rahul', 'M.S.Dhoni'}

In [35]:
team_india_2024-team_india_2019

{'Bumrah', 'Rishabh Pant', 'SuryaKumar Yadav'}

In [36]:
'''''
Create on class Student with name, age, marks
for four students give data
compare and find highest marks, lowest marks
what is the average marks
what is average age of student
'''
class Student:
  def __init__(self,name,age,marks):
    self.name=name
    self.age=age
    self.marks=marks

  def get_info(self):

    print( f"name:{self.name},age:{self.age},marks:{self.marks}")

  def compare_marks():
    if student1.marks>student2.marks:
      print("student1 is highest")
    elif student1.marks<student2.marks:
      print("student2 is highest")
    else:
      print("student 3 is highest")
  def average_marks():
      print((student1.marks+student2.marks+student3.marks+student4.marks)/4)

student1=Student('priya',35,56)
student2=Student('om',32,89)
student3=Student('sandip',36,85)
student4=Student('riya',29,12)

student1.get_info()
student2.get_info()
student3.get_info()
student4.get_info()
obj=Student.compare_marks()
obj1=Student.average_marks()

name:priya,age:35,marks:56
name:om,age:32,marks:89
name:sandip,age:36,marks:85
name:riya,age:29,marks:12
student2 is highest
60.5

In [19]:
#You ask the user to choose from one option for source and destination 'euro', 'dollar', 'rupee'
#then ask user to enter quantity in numbers
#ex- dollar to rupee and 10
#so 10dollars is 830 rupees
#prevent invalid inputs, allow user to continue till exit

source=input("source:=enter euro,dollar or rupee : ")
destination=input("destination:=enter euro,dollar or rupee: ")
amount=float(input("enter amount: "))
if source=='dollar':
 rupee=amount*83.73
 print(f"Rupee:{rupee}")
elif source=='euro':
 rupee=amount*91.16
 print(f"Rupee:{rupee}")
elif source=='rupee':
 dollar=amount/83.73
 print(f"Dollar:{dollar}")
else:
 print("invalid input")

source:=enter euro,dollar or rupee : rupee
destination:=enter euro,dollar or rupee: dollar
enter amount: 1
Dollar:0.011943150603129105