In [ ]:
#library or package named seaborn
#https://seaborn.pydata.org/api.html
import seaborn #collection of additional class, functions, data to improve data analysis

In [ ]:
#data - variable
#seaborn - library
#load_dataset - function
#tips - parameter/ argument / input

#obj = Student()
#obj.get_info(32, 'abc')

data = seaborn.load_dataset('tips')

In [ ]:
'''
anagrams: https://psych252.github.io/
anscombe: https://en.wikipedia.org/wiki/Anscombe%27s_quartet
attention: https://psych252.github.io/
car_crashes: https://www.kaggle.com/fivethirtyeight/fivethirtyeight-bad-drivers-dataset
diamonds: https://ggplot2.tidyverse.org/reference/diamonds.html
dots: https://shadlenlab.columbia.edu/resources/RoitmanDataCode.html
dowjones: https://fred.stlouisfed.org/series/M1109BUSM293NNBR
exercise: https://psych252.github.io
fmri: https://github.com/mwaskom/Waskom_CerebCortex_2017
geyser: https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/faithful.html
glue: https://gluebenchmark.com/leaderboard
healthexp: https://ourworldindata.org/grapher/life-expectancy-vs-health-expenditure
iris: https://archive.ics.uci.edu/ml/datasets/iris
mpg: https://data.world/dataman-udit/cars-data
penguins: https://github.com/allisonhorst/penguins
planets: https://exoplanets.nasa.gov/exoplanet-catalog/
seaice: https://nsidc.org/arcticseaicenews/sea-ice-tools/
taxis: https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
tips: https://rdrr.io/cran/reshape2/man/tips.html
titanic: https://www.kaggle.com/c/titanic/data
'''

In [ ]:
?seaborn.load_dataset

In [ ]:
data

In [ ]:
#store data table named iris in a variable named data_iris
#hint data = seaborn.load_dataset('tips')

In [ ]:
data_iris = seaborn.load_dataset('iris')
data_iris

In [ ]:
data

In [ ]:
type(data) # pandas.core.frame.DataFrame - python table - rows and columns

In [ ]:
data.shape # rows = 244 and columns as 7

In [ ]:
data.columns

In [ ]:
data.info() #data types and non null count

In [ ]:
'''
count - number of data points available
mean - average (sum of all data points / number of data points) - central tendency / measure of central tendency / sarasari
std - standard deviation (square root of variance) - dispersion (how far from the mean people?) 10 +- 2 = (10-2, 10+2) = people age is between(8 - 12)
#66% of people lie in range (mean - std_dev, mean + std_dev)
min - minimum value (lowest value)
25% - first quartile (25 percentile) - (25% of people are below this value)
50% - median (50 percentile) - (50% of people are below this value)
75% - third quartile (75 percentile) - (75% of people are below this value, 25% are above)
max - maximum value (highest value)
'''
data.describe() #statistical summary

In [ ]:
#NaN - missing ; not a number
data.describe(include='all')

In [ ]:
data['day'] #get a particular column of the table

In [ ]:
data['day'].value_counts() #only possible for non-numeric/ ordinal / binary but not recommended for numeric/scale

In [ ]:
data['total_expense'] = data['total_bill'] + data['tip'] #new column created with name total_expense by adding columns total_bill and tip

In [ ]:
data.head() #displaying the first five rows of the table

In [ ]:
data.iloc[0] #iloc - location and it takes row index/ row number

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[0][0] #data.iloc[row num][col num]

In [ ]:
data.iloc[0][4] # row number 0 and column 4

In [ ]:
data.iloc[0:4] #start at 0 and stop at 4 (4 not included) - 0,1,2,3

In [ ]:
data.iloc[0:4 , 6] #start at 0 and stop at 4 (4 not included) - 0,1,2,3 and column number 6
#data.iloc[row num start : row num stop , col num]

In [ ]:
data.iloc[0 : 4, 6 : 9]  #start at 0 and stop at 4 (4 not included) - 0,1,2,3 and column number start at 6 and stop at 9 (9 not included)
#data.iloc[row num start : row num stop , col num start : col num stop]

In [ ]:
data.iloc[ : , 6 : 9] #all rows and column number start at 6 and stop at 9 (9 not included)
#data.iloc[:, 6:9] # row num start is 0 and row num stop is last one

In [ ]:
#get rows 200-220
#column 3-5
data.iloc[200:221, 3:6]

In [ ]:
#data[(condition)]

data[(data['total_bill'] > 5)] #get all rows where total_bill is greater than 5

In [ ]:
data[(data['total_bill'] < 5)]

In [ ]:
data[(data['total_bill'] > 20) & (data['day'] == 'Sun')] #total bill greater than 20 on sunday

In [ ]:
data[(data['total_bill'] > 20) | (data['day'] == 'Thurs')] #either total bill greater than 20 or day thursday

In [ ]:
data['sex'][(data['total_bill'] > 20) | (data['day'] == 'Thurs')] #only get sex column where condition is satisfied
#data['col name'] [(condition 1) OR (condition 2)]

In [ ]:
ans = data['sex'][(data['total_bill'] > 20) | (data['day'] == 'Thurs')]
ans.iloc[0:20]

#data['sex'][(data['total_bill'] > 20) | (data['day'] == 'Thurs')].iloc[0:20]

In [ ]:
data[['sex', 'smoker']][(data['total_bill'] > 20) | (data['day'] == 'Thurs')]#only get sex , smoker column where condition is satisfied

In [ ]:
data['sex'] #pandas series and only one col

In [ ]:
data['day','time'] #ERROR

In [ ]:
data[['day', 'time']] #dataframe

In [ ]:
#AGGREGATE FUNCTIONS
#data.groupby('categorical column name').agg(
#    {
#        'numerical column name' : ['aggregate function name'] (options are 'mean', 'min', 'max', 'std', 'count', 'sum')
#    }
#)

data.groupby('sex').agg({
    'total_bill' : ['mean', 'min', 'max', 'std', 'count', 'sum'],
    'tip' : 'mean',
    'size' : 'mean'
})

In [ ]:
data.groupby('smoker').agg({
    'total_bill' : ['mean', 'min', 'max', 'std', 'count', 'sum'],
    'tip' : 'mean',
    'size' : 'mean'
})

In [ ]:
import pandas #library
#pandas.pivot_table(dataframe name, index = 'categorical col', columns = 'cat col', values = 'numeric col', aggfunc = 'agg function')
pandas.pivot_table(data, index = 'day', columns = 'sex', values = 'total_bill', aggfunc = 'mean')
#

In [ ]:
?pandas.pivot_table

In [ ]:
pandas.pivot_table(data, index = 'day', aggfunc = 'count')

In [ ]:
pandas.pivot_table(data, index = 'day', columns = 'sex', values = 'total_bill', aggfunc = 'mean')

In [ ]:
pandas.pivot_table(data, index = 'day', columns = 'time', values = 'total_bill', aggfunc = 'mean')

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip')

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', hue = 'smoker')
#seaborn.relplot(data = variable name, x ='numeric col', y='numeric col', hue = 'çategorical col')

In [ ]:
?seaborn.relplot

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', style = 'smoker')
#seaborn.relplot(data = variable name, x ='numeric col', y='numeric col', style = 'çategorical col')

In [ ]:
seaborn.set_theme(style="darkgrid")
import matplotlib.pyplot as plt

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', col = 'smoker')
plt.show()
#seaborn.relplot(data = variable name, x ='numeric col', y='numeric col', col = 'çategorical col')

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', hue = 'day', style='sex', col = 'smoker')
#seaborn.relplot(data = variable name, x ='numeric col', y='numeric col', hue='çategorical col', style='çategorical col', col = 'çategorical col')
plt.show()

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', hue = 'smoker', style='smoker', col = 'smoker')

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', hue = 'size')

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', size = 'size', sizes=[10,30,60,90,100,150])
#seaborn.relplot(data=data, x = 'numeric col', y='numeric col', size = 'ordinal column', sizes=list of integers)

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', size = 'day', hue = 'day', size_order = ['Thur', 'Fri', 'Sat', 'Sun'], sizes=[10,60,100,150])

In [ ]:
seaborn.relplot(data=data, x = 'total_bill', y='tip', size = 'day', hue = 'day', sizes=[10,60,100,150])

In [ ]:
import seaborn as sns #library
import matplotlib.pyplot as plt #library

# Load the iris dataset
iris = sns.load_dataset('iris') #loading data

# Create the scatter plot
sns.relplot(data=iris, x='sepal_length', y='sepal_width', hue='species', palette='deep') #scatterplot

# Add labels and title
plt.xlabel('Sepal Length')
plt.ylabel('Sepal Width')
plt.title('Sepal Width vs Sepal Length')

# Show the plot
plt.show()

In [ ]:
#Time series plot

#X = time / date
#y = numeric value

dowjones = seaborn.load_dataset('dowjones')
dowjones.head()

In [ ]:
seaborn.relplot(kind='line', x='Date', y='Price', data=dowjones)

In [ ]:
fmri = seaborn.load_dataset('fmri')
#https://github.com/mwaskom/Waskom_CerebCortex_2017
fmri.head()

In [ ]:
seaborn.relplot(kind='line', x='timepoint', y='signal', data=fmri)

In [ ]:
seaborn.relplot(kind='line', x='timepoint', y='signal', data=fmri, style='event')

In [ ]:
seaborn.relplot(kind='line', x='timepoint', y='signal', data=fmri, style='event', hue='region')

#Practice

In [ ]:
mpg = seaborn.load_dataset('mpg')
mpg.head()

In [ ]:
#understand the data
#columns meaning
#what research questions
#type of columns
#unique values in categorical columns
#describe, value_counts, info
#relplot
#pivot_table
#groupby
#hue
#col
#style
#conditions
#iloc