In [ ]:
num=input('enter the number')
int(num)

enter the number23

23

In [ ]:
a=input('enter the number')
if int(a)%2==0:
 print('number is even')
else:
 print('number is odd')

enter the number23
number is odd

In [ ]:
num=input('enter a number')
if int(num)>50:
  print('number is greater than 50')
elif num==50:
   print('number equal to 50')
else :
   print('number is less than 50')

enter a number50
number is less than 50

In [ ]:
str='aaaaaaaaaaabbbbbbbbbbcccccccccc'
for i in range(len(str)):
  l=str[i]
  if i%2!=0:
    print(l.upper())
  else:
    print(l.lower())

a
A
a
A
a
A
a
A
a
A
a
B
b
B
b
B
b
B
b
B
b
C
c
C
c
C
c
C
c
C
c

In [ ]:
names=["priya","om","sandip","radha","riya","amol","monu","chinu","rishi","oorjeet"]
for i in range (len(names)):
  j=names[i]
  if i%2!=0:
    print(j.upper())
  else:
    print(j.lower())

priya
OM
sandip
RADHA
riya
AMOL
monu
CHINU
rishi
OORJEET

In [ ]:
new_names=["priya","om","sandip","aditya","riya","amol","monu","chinu","ash","oorjeet"]
for i in range (len(new_names)):
  j=new_names[i]
  if j[0]=='a':
    print(j.upper())
  else:
    print(j.lower())

priya
om
sandip
ADITYA
riya
AMOL
monu
chinu
ASH
oorjeet

In [ ]:
25**.5

5.0

In [ ]:
numbers=[4,6,25,36,8]
for i in range (len(numbers)):
  j=numbers[i]
  numbers[i]=j**0.5
print("square_root:")
print(numbers)

square_root:
[2.0, 2.449489742783178, 5.0, 6.0, 2.8284271247461903]